%title
  = "Question Detail - Stack Overflow Clone"
%div.question
  %div.title
    = title
  %button{class="update-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="title"}
    = "Edit"
  %div.author
    = "Question by " <> author
  %div.body
    = body
  %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="body"}
    = "Edit"
  %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers"}
    = "Answer"
  %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="comments"}
    = "Comment"
  %button{type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"}
    = "Delete"
- for %{"index" => comment_index, "author" => author, "body" => body, "visible" => visible} <- comments do
  - if visible do
    %div.comment
      %div.author
        = "Comment by " <> author
      %div.body
        = body
      %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="comments.#{comment_index}.body"}
        = "Edit"
      %button{type="button" class="delete-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="comments.#{comment_index}.visible"}
        = "Delete"
- for %{"index" => answer_index, "author" => author, "body" => body, "comments" => answer_comments, "visible" => visible} <- answers do
  - if visible do
    %div.answer
      %div.author
        = "Answer by " <> author
      %div.body
        = body
      %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers.#{answer_index}.body"}
        = "Edit"
      %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers.#{answer_index}.comments"}
        = "Comment"
      %button{type="button" class="delete-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers.#{answer_index}.visible"}
        = "Delete"
    - for %{"index" => comment_index, "author" => author, "body" => body, "visible" => visible} <- answer_comments do
      - if visible do
        %div.comment
          %div.author
            = "Comment by " <> author
          %div.body
            = body
          %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers.#{answer_index}.comments.#{comment_index}.body"}
            = "Edit"
          %button{type="button" class="delete-button btn btn-primary" data-toggle="modal" data-target="#update-modal" data-name="answers.#{answer_index}.comments.#{comment_index}.visible"}
            = "Delete"
%form#update-form{action="/v1/question/#{question_id}" method="PUT"}
  %input#operator{ type="hidden" name="operator" value="temp" }
  %input#key{ type="hidden" name="key" value="temp" }
  %div#update-modal{class="modal fade" tabid="-1"}
    %div{class="modal-dialog"}
      %div{class="modal-content"}
        %div{class="modal-header"}
          %h5{class="modal-title"}
            = "Edit"
          %button{type="button" class="close" data-dismiss="modal" aria-label="Close"}
            %span{aria-hidden="true"}
              = "X"
        %div{class="modal-body"}
          %div{class="form-group"}
            %input#value{type="text" class="form-control" name="value" value="" rows="10" required}
            %div#msg
        %div{class="modal-footer"}
          %button#submit{type="submit" class="submit btn btn-primary"}
            = "Confirm"
          %button{type="cancel" class="btn btn-secondary" data-dismiss="modal"}
            = "Close"
%form#delete-form{action="/v1/question/#{question_id}" method="DELETE"}
  %div#delete-modal{class="modal fade" tabid="-1"}
    %div{class="modal-dialog"}
      %div{class="modal-content"}
        %div{class="modal-header"}
          %h5{class="modal-title"}
            = "Delete"
          %button{type="button" class="close" data-dismiss="modal" aria-label="Close"}
            %span{aria-hidden="true"}
              = "X"
        %div{class="modal-body"}
          %div{class="form-group"}
            = title
        %div{class="modal-footer"}
          %button{type="submit" class="submit btn btn-primary"}
            = "Delete"
          %button{type="cancel" class="btn btn-secondary" data-dismiss="modal"}
            = "Close"
%script
  $('.create-button').click(function(){
    $('#operator').val('create');
    $('#key').val($(this).attr('data-name'));
    $('#value').val('');
    $('#value').attr('type', 'text');
    $('#msg').text('');
    $('.modal-title').text($(this).text());
  });
  $('.update-button').click(function(){
    $('#operator').val('update');
    $('#key').val($(this).attr('data-name'));
    $('#value').val($(this).prev().text().trim());
    $('#value').attr('type', 'text');
    $('#msg').text('');
    $('.modal-title').text($(this).text());
  });
  $('.delete-button').click(function(){
    $('#operator').val('delete');
    $('#key').val($(this).attr('data-name'));
    $('#value').val(false);
    $('.modal-title').text($(this).text()+":"+$(this).prevAll('.body').text().trim());
    $('#value').attr('type', 'hidden');
    $('#msg').text($(this).prevAll('.body').text().trim());
  });
  $('#update-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url: '/v1'+location.pathname,
      type: 'PUT',
      data: $('#update-form').serialize(),
      timeout: 10000,
      success: function(response){
        window.location.reload();
      }
    });
  });
  $('#delete-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url: '/v1'+location.pathname,
      type: 'DELETE',
      timeout: 10000,
      success: function(response){
        window.location.href='/question';
      }
    });
  });
