%title
  = "Question Detail - Stack Overflow Clone"
%div.question
  %div.title
    = title
  %div.author
    = "Question by " <> author
  %div.body
    = body
  %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="put"    data-url=""}
    = "Edit"
  %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="post"   data-url="/answer"}
    = "Answer"
  %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="post"   data-url="/comment"}
    = "Comment"
  %button{type="button" class="delete-button btn btn-danger"  data-toggle="modal" data-target="#modal" data-method="delete" data-url=""}
    = "Delete"
  - for %{"_id" => comment_id, "owner" => author, "data" => %{"body" => body}} <- comments do
    %div.comment
      %div.author
        = "Comment by " <> author
      %div.body
        = body
      %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="put"    data-url="/comment/#{comment_id}"}
        = "Edit"
      %button{type="button" class="delete-button btn btn-danger"  data-toggle="modal" data-target="#modal" data-method="delete" data-url="/comment/#{comment_id}"}
        = "Delete"
- for %{"_id" => answer_id, "owner" => author, "data" => %{"body" => body, "comments" => comments}} <- answers do
  %div.answer
    %div.author
      = "Answer by " <> author
    %div.body
      = body
    %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="put"    data-url="/answer/#{answer_id}"}
      = "Edit"
    %button{type="button" class="create-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="post"   data-url="/answer/#{answer_id}/comment"}
      = "Comment"
    %button{type="button" class="delete-button btn btn-danger"  data-toggle="modal" data-target="#modal" data-method="delete" data-url="/answer/#{answer_id}"}
      = "Delete"
    - for %{"_id" => comment_id, "owner" => author, "data" => %{"body" => body}} <- comments do
      %div.comment
        %div.author
          = "Comment by " <> author
        %div.body
          = body
        %button{type="button" class="update-button btn btn-primary" data-toggle="modal" data-target="#modal" data-method="put"    data-url="/answer/#{answer_id}/comment/#{comment_id}"}
          = "Edit"
        %button{type="button" class="delete-button btn btn-danger"  data-toggle="modal" data-target="#modal" data-method="delete" data-url="/answer/#{answer_id}/comment/#{comment_id}"}
          = "Delete"
%form{action="/v1/question/#{question_id}" method=""}
  %div#modal{class="modal fade" tabid="-1"}
    %div{class="modal-dialog"}
      %div{class="modal-content"}
        %div{class="modal-header"}
          %h5{class="modal-title"}
            = "Edit"
          %button{type="button" class="close" data-dismiss="modal" aria-label="Close"}
            %span{aria-hidden="true"}
              = "X"
        %div{class="modal-body"}
          %div{class="form-group"}
            %input#url{  type="hidden" class="form-control" value=""}
            %input#type{ type="hidden" class="form-control" value=""}
            %input#value{type="text"   class="form-control" value="" name="value" rows="10" required}
            %div#msg
        %div{class="modal-footer"}
          %button#submit{type="submit" class="submit btn btn-primary"}
            = "Confirm"
          %button{type="cancel" class="btn btn-secondary" data-dismiss="modal"}
            = "Close"
%script
  $('.create-button').click(function(){
    $('#url').val($(this).attr('data-url'));
    $('#type').val($(this).attr('data-method'));
    $('#value').attr('type', 'text');
    $('#value').val('');
    $('#msg').text('');
    $('.modal-title').text($(this).text());
  });
  $('.update-button').click(function(){
    $('#url').val($(this).attr('data-url'));
    $('#type').val($(this).attr('data-method'));
    $('#value').attr('type', 'text');
    $('#value').val($(this).prevAll('.body').text().trim());
    $('#msg').text('');
    $('.modal-title').text($(this).text());
  });
  $('.delete-button').click(function(){
    $('#url').val($(this).attr('data-url'));
    $('#type').val($(this).attr('data-method'));
    $('#value').attr('type', 'hidden');
    $('#value').val('');
    $('#msg').text($(this).prevAll('.body').text().trim());
    $('.modal-title').text($(this).text());
  });
  $('form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url:     '/v1'+location.pathname+$('#url').val(),
      type:    $('#type').val(),
      data:    $('form').serialize(),
      timeout: 10000,
      success: function(response){
        if($('#type').val()=='delete' && $('#url').val()==''){
          window.location.href='/question';
          window.location.href.reload();
        }else{
          window.location.reload();
        }
      }
    });
  });
