%button{type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"}
  = "Ask a Question"
- for %{"_id" => id, "owner" => author, "data" => %{"title" => title , "body" => body}} <- questions do
  %div.question
    %a{href : "/question/#{id}"}
      %p.title
        = "Q: " <> title
      %p.author
        = "投稿者: " <> author
      %p.body
        = body
%form{action="/v1/question" method="POST"}
  %div#modal{class="modal fade" tabindex="-1" role="dialog"}
    %div{class="modal-dialog" role="document"}
      %div{class="modal-content"}
        %div{class="modal-header"}
          %h5{class="modal-title"}
            = "Ask a Question"
          %button{type="button" class="close" data-dismiss="modal" aria-label="Close"}
            %span{aria-hidden="true"}
              = "X"
        %div{class="modal-body"}
          %div{class="form-group"}
            %input{class="form-control" name="title" placeholder="Title" rows="2" required}
            %input{class="form-control" name="body" placeholder="" rows="5" required}
        %div{class="modal-footer"}
          %button{type="submit" id="submit" class="btn btn-primary"}
            = "Post"
          %button{type="cancel" class="btn btn-secondary" data-dismiss="modal"}
            = "Close"
%script
  $('form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url: "/v1/question",
      type: 'POST',
      data: $('form').serialize(),
      timeout: 10000,
      success: function(response){
        console.log(response);
        window.location.href='/question/'+response._id;
      }
    });
  });
